public/vendors/
/storage
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
storage/framework/views/0164c960a96c5e5278c5abed184627a25d9b145e.php
storage/framework/views/58ebaa7302ce4130d213af4af974e4644df9c9dc.php
